  <footer id="footer" role="contentinfo">
    <div class="row">
      <div class="large-12 columns">
        <p class="text-center hello">
          Say Hello!
          <a href="mailto:hello@matt.mcmanus.io">hello@matt.mcmanus.io</a>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns social">
        <a class="ss-icon" href="https://github.com/mattmcmanus">Octocat</a>
        <a class="ss-icon" href="https://twitter.com/mattmcmanus">Twitter</a>
        <a class="ss-icon" href="https://linkedin.com/mattmcmanus">Linkedin</a>
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns">
        <p class="copyright text-center">Copyright 2014 Matt McManus. All Rights Reserved.</p>
      </div>
    </div>
  </footer>

  <script src="/bower_components/foundation/js/foundation.min.js"></script>
  <script src="/javascripts/app.js"></script>

</body>
</html>
