<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
    <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
  <meta name="author" content="{{ site.author }}">
  {% if page.desciption %}
    <meta name="description" content="{{ description | strip_html | condense_spaces | truncate:150 }}">
  {% endif %}
  {% if page.keywords %}
    <meta name="keywords" content="{{ page.keywords }}">
  {% endif %}

  <link href="https://fonts.googleapis.com/css?family=Lato:400,400i,700|Lora:700,700i" rel="stylesheet">

  <link rel="preload" href="/styles.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="/styles.css"></noscript>

  {% feed_meta %}
  <script type="text/javascript"> {% include js/loadcss.js %} </script>

  {% capture critical_scss %} {% include critical.scss %} {% endcapture %}
  <style type="text/css">{{ critical_scss | scssify }}</style>

  {% include js/google-analytics.html %}
</head>

<body class="layout-{{ page.layout }} type-{{ page.type }} {% if page.cover %}withCover{% endif %}" {% if page.body_id %} id="{{ page.body_id }}" {% endif %}>
