{% assign note = include.note %}

<article class="mb-24 h-entry {{include.class}}" role="article">
  {% if note.bookmark-of and note.title != '' %}
    <h4>Link: <a class="u-bookmark-of h-cite" href="{{ note.bookmark-of }}">
      {{ note.title}}
    </a></h4>
  {% endif %}

  <div class="entry-content e-content">{{ note.content | markdownify}}</div>
  <p class="-mt-4">
    <a href="{{note.url}}" class="no-underline text-grey-dark">
      <time class="text-grey-dark text-xs uppercase dt-published" datetime="{{ note.date }}">
        {{ note.date | date_to_string }}
      </time>
    </a>
    - <a href="{{note.url}}" class="u-url no-underline text-grey-dark text-xxs uppercase">Permanent Link</a>
    <!-- {%- for tag in note.tags -%}
      {{ tag }}
    {%- endfor -%} -->
  </p>
</article>
