article, .row {
  display: block;
  margin: 0 auto;
  width: 80%;

  @media screen and (min-width: #{ $max-width + 5 + 'em'}) {
    max-width: #{1.5 * $max-width + 'rem'};
  }

  @media (max-width: $screen-xs-min) {
    width: 90%;
  }
}
