blockquote {
  font-style: italic;
  padding-left: 1.4375rem;
  // font-size: 95%;

  @media screen and (min-width: #{ $max-width + 5 + 'em'}) {
    padding-left: 2rem;
  }

  p {
    font-family: $custom-font-headings;
  }

}

cite {
  display: block;
  font-style: normal;
}
