---
layout: default
---
<div class="blog-index large-12 columns">
  <h2>Words are important</h2>

  {% for post in paginator.posts %}
    <article class="{{post.layout}} row">
      <div class="large-3 columns">
        <time class="post-date">{{ post.date | date: "%B %-d, %Y" }}</time>
      </div>
      <div class="large-9 columns">
        <h2 class="entry-title">
          <a href="{{ post.url }}">{{ post.title | titlecase }}</a>
        </h2>
        {% if post.subtitle %}
          <h4 class="subheader">{{ post.subtitle | titlecase }}</h4>
        {% endif %}
      </div>
    </article>
  {% endfor %}

  <!-- Pagination links -->
  <div class="pagination-centered">
    <ul class="pagination">
      {% if paginator.previous_page %}
        <li class="arrow"> <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="previous">&laquo; Previous</a> </li>
      {% else %}
        <li class="arrow unavailable"><a href="#">&laquo; Previous</a></li>
      {% endif %}

      {% for page in (1..paginator.total_pages) %}
        {% if page == paginator.page %}
          <li class="current"><a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a></li>
        {% elsif page == 1 %}
          <li><a href="{{ '/blog/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a></li>
        {% else %}
          <li><a href="/{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}/">{{ page }}</a></li>
        {% endif %}
      {% endfor %}

      {% if paginator.next_page %}
        <li class="arrow"> <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="next">Next &raquo;</a> </li>
      {% else %}
        <li class="arrow unavailable"><a href="#">Next &raquo;</a></li>
      {% endif %}
    </ul>
  </div>
</div>
