.byline {
  .meta {
    font-size: .7rem;
    color: $gray;

    a {
      text-decoration: none;
    }
  }
}

.Post {
  background-color: rgba(255, 255, 255, .96);

  &-byline {
    color: $primary;
    margin: .4rem 0;
  }

  &-title { line-height: 1.1; }
  &-year {
    font-weight: 700;
    color: $gray;
  }

  &-rating {
    color: $highlight;
    font-size: 1.2rem;
    margin: .6rem 0 .5rem;
  }

  &-hero {
    max-width: 100%;
    margin-top: -1.7222222222rem;
    margin-bottom: -11rem;
    z-index: 0;
  }

  &-meta {
    display: block;
    color: #777;
    font-size:.8em;
    margin-top: 6rem;
    margin-bottom: -6rem;
  }

  &--review &-header {
    display: flex;
    align-items: flex-end;
  }
  &--review &-title {
    margin: .5rem 0;
  }
  &--review &-meta {
    text-align: left;
    margin: .4rem 0;
  }
  &-cover {
    flex: 1 1 50%;
    margin-right: 1rem;

    img {
      box-shadow: $book-shadow
    }
  }
  &-reviewHeader {
    flex: 1 1 50%;
  }

  @media (max-width: $screen-xs-min) {
    &--review &-header img {
      max-height: 300px;
    }
    &--review &-header {
      flex-direction: column;
      align-items: center;
    }
  }

  @media (min-width: $screen-sm-min) {
    &--review &-header {
      max-width: 100%;
      @include margin-bottom(2);
    }
    &--review &-reviewHeader {
      margin-bottom: 0;
    }
    &--review &-cover {
      order: 1;
      margin: 0 0 0 2rem;
      flex-shrink: 0;
      display: flex;
      flex-direction: row-reverse;

      img {
        max-height: 500px;
      }
    }
  }
}

.category {
  @include pill;
  display: inline-block;
}

.Image {
  img {
    margin: 0;
  }
}

body.has-image .Post {
  z-index: 2;
  position: relative;
  padding: 3rem 3rem;
  box-shadow: 0 3px 30px rgba(34,34,34, .1);

  &-meta {
    margin-top: 0;
  }

  @media (max-width: $screen-xs-min) {
    width: 95%;
    padding: 1.5rem 1.7rem;
  }

  @media (min-width: $screen-lg-min) {
    padding-top: 5rem;

    &-hero {
      margin-bottom: -25rem;
    }
  }
}

// body.post.withCover #header {
//   .background-image { height: 220px }
//   .background-image-foreground { height: 200px }
//   div > .row { margin-top: 56px }
// }
