article.hentry {
  .subheader {
    color: $primary;
  }

  .meta {
    display: block;
    color: #777;
    font-size:.8em;
    text-align: center;
  }
}

// body.post.withCover #header {
//   .background-image { height: 220px }
//   .background-image-foreground { height: 200px }
//   div > .row { margin-top: 56px }
// }
