.BookList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;

  @media (max-width: $screen-xs-min) {
    max-width: 90%;
    margin: 0 auto;
    @include margin-bottom(2);
  }
}

.BookThumb {
  flex: 0 0 125px;
  margin-left: .5rem;
  margin-right: .5rem;
  padding: 0 .3rem;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  @media (max-width: $screen-xs-min) {
    flex-grow: 1;
  }

  &-cover {
    border-radius: 2px;
    box-shadow: $book-shadow;
    flex: 0 0 auto;
    margin: 0;
    overflow: hidden;
    transition: box-shadow 100ms ease-out, transform 100ms ease-out;
  }

  &-reviewHeader {
    margin: .2rem 0 0;
  }

  &-rating {
    text-align: center;
    font-size: 0.8em;
    letter-spacing: 2px;
    opacity: .5;
    margin: 0;
  }

  &:hover &-cover {
    transform: translateY(-7px);
    box-shadow: $book-shadow-hover;
  }
}
