#main-header {
  max-width: 100%;

  .logo {
    color: $primary;
    font-weight: 700;
    text-decoration: none;
  }

  .row {
    border-bottom: 1px solid $divider;
    position: relative;
    @include padding(1, 0);
  }

  nav {
    position: absolute;
    right: 1.625rem;
    top: 1.625rem;

    a {
      @extend .uppercase;
      font-size: .8em;
      margin: 0 .5em;
      text-decoration: none;
    }
  }
}
