#main-header {
  max-width: 100%;

  .row {
    @include padding(1, 0);
    border-bottom: 1px solid $divider;
    display: flex;
    flex-flow: row wrap;

    @media (max-width: $screen-xs-min) {
      flex-direction: column;
    }
  }

  .logo, nav a {
    margin: 0 12px;
  }

  .logo {
    color: $primary;
    font-weight: 700;
    text-decoration: none;
    width: 150px;

    @media (max-width: $screen-xs-min) {
      margin-bottom: .8rem;
    }
  }


  nav {
    flex: 1 0 auto;
    margin: 0;
    display: flex;
    justify-content: flex-end;

    @media (max-width: $screen-xs-min) {
      justify-content: flex-start;
    }

    a {
      @include line-height(1);
      @extend .uppercase;
      font-size: .7em;
      text-decoration: none;
    }
  }
}
