body.homepage {
  #header {
    .subtitle {
      font-weight: 100;
      color: #fff;
      font-size: 1.3em;
      margin:0;
    }

    .quote p {
      font-size: 2em;
      border-top: 1px solid rgba(255,255,255,.3);
      border-bottom: 1px solid rgba(255,255,255,.3);
      margin:1em 0;
      padding:.6em 0;
    }
    .background-image { height: 700px;}
    .background-image-foreground {
      padding: 80px 0 40px;
    }
  }
}
