.post-list {
  padding: 0;
  li {
    list-style: none;
    @include margin-bottom(1);
  }
}

.post-link {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  small, em {
    display: block;
    margin: 0;
    line-height: inherit;
  }

  small {
    color: $color-font-light;
    font-size: .7em;
    font-weight: 100;
  }

  em {
    color: $primary;
    font-size: .8em;
  }

  &:visited {
    em {
      color: $primary-light;
    }
  }
}
