$base-font-size: 16px;

$divider: #e6e6e6;
$primary: #3E5E75;
$primary-light: #798792;
//$highlight: #467;
$highlight: #968E62;
$gray: #888;

$book-shadow: 0 2px 4px rgba(12,12,12,0.5), 0 7px 30px rgba(34,34,34,0.5);
$book-shadow-hover: 0 7px 15px rgba(12,12,12,0.5), 0 12px 35px rgba(34,34,34,0.5);

$theme: 'custom';
$custom-font-body: 'Lato', sans-serif;
$custom-font-headings: 'Lora', serif;

//== Media queries breakpoints
$screen-xs-min:             480px;
$screen-sm-min:             768px;
$screen-md-min:             992px;
$screen-lg-min:             1200px;
$screen-xs-max:             ($screen-sm-min - 1);
$screen-sm-max:             ($screen-md-min - 1);
$screen-md-max:             ($screen-lg-min - 1);
