$base-font-size: 12px;

$divider: #e6e6e6;
$primary: #3E5E75;
$primary-light: #798792;
//$highlight: #467;
$highlight: #968E62;
$gray: #888;

$theme: 'custom';
$custom-font-body: 'Lato', sans-serif;
$custom-font-headings: 'Lora', serif;
