@import 'webfonts';

// Global Foundation Settings
@import "settings";

// Comment out this import if you are customizing you imports below
@import "foundation";
@import "pygments";

.accelerated {
  position: relative;
  -moz-transform: translate3d(0px, 0px, 0px);
  -ms-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
}

h3 {
  font-family: $sans-serif;
  font-weight: 700;
}

a {
  transition: all 150ms ease-out;
}

a:hover {
  text-decoration: underline;
}

@import 'header';

@import 'article';

@import 'homepage';


.pagination { margin-top: 1.5em; }

// Footer

#footer {
  color: $primary;
  padding-top: 21px;
  margin-top: 12px;
  border-top: 1px solid #eee;

  .hello {
    font-size: 1.3em;
  }

  .copyright { font-size: .8em; margin-top: 2em; color: $gray; }

  a { display: inline-block; padding: 0 5px; }

  .social {
    text-align: center;
    font-size: 3em;
    a {
      width: 100px;
      margin: 1em 1em .5em;
      &:hover { color: $highlight; }
    }
  }
}
