// Global Foundation Settings
@import "settings";

// Comment out this import if you are customizing you imports below
@import "foundation";
@import "pygments";

.accelerated {
  position: relative;
  -moz-transform: translate3d(0px, 0px, 0px);
  -ms-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
}

@import 'header';

@import 'article';

@import 'homepage';

.pagination { margin-top: 1.5em; }

// Footer

#footer {
  color: $primary;
  padding-top: 21px;
  margin-top: 12px;
  h4, a, li { }
  p { }
  ul li {
    a:before { font-size:1.1em;}
  }
  .copyright { font-size: .8em; margin-top: 2em; color: $gray; }
  a { display: inline-block; padding: 0 5px; }
}
