---

---
<div class="row">
  <p class="text-center tracking-wide uppercase text-xs text-grey-dark">
    Written by <a href="http://mcmanus.io" class="h-card p-author no-underline" rel="author">Matt McManus</a> - 
    <!-- <a class="u-url" href={page.url}>Permanent Link</a> -->
  </p>

  <p class="text-center">
    <!-- {% if page.categories %}
    {% include categories.html categories=page.categories class="pill p-category" %}
    {% endif %} -->
  </p>
</div>
