---

---
<!-- {% for category in include.categories %}
  {%- if category -%}
    {% assign details = site.category_details | where:"slug", category | first %}
    {%- if include.do_not_link -%}
      <span class="category {{include.class}}">{{details.title}}</span>
    {%- else -%}
      <a href={{category | prepend:'/category/'}} class="category {{include.class}}">{{details.title}}</a>
    {%- endif -%}
  {%- endif -%}
{% endfor %} -->
