---
export interface Props {
  pageTitle: string;
}

const { pageTitle } = Astro.props;
---
<meta charset="utf-8">
<meta name="viewport" content="width=device-width">

<title>{pageTitle}</title>

<link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>

<!-- <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville:700|Nunito:400,400i,700" rel="stylesheet"> -->
<link rel="preload" href="/fonts/QuincyCF-Bold.woff2" as="font" type="font/woff2" crossorigin>
<link href="https://fonts.googleapis.com/css?Nunito:400,400i,700" rel="stylesheet">
<style>
  @font-face {
    font-family: 'Quincy';
    src:  url('/fonts/QuincyCF-Bold.woff2') format('woff2'),
          url('/fonts/QuincyCF-Bold.woff') format('woff');
    font-weight: 700;
  }
</style>
<!-- <link rel="preload" href="/styles.css" as="style" onload="this.onload=null;this.rel='stylesheet'"> -->
<!-- <link rel="stylesheet" href="/styles.css"> -->
<!-- <noscript><link rel="stylesheet" href="/styles.css"></noscript> -->
<!-- <script type="text/javascript"> {% include js/loadcss.js %} </script> -->
<link rel="pingback" href="https://webmention.io/mcmanus.io/xmlrpc" />
<link rel="webmention" href="https://webmention.io/mcmanus.io/webmention" />
<link rel="authorization_endpoint" href="https://indieauth.com/auth">
<link rel="token_endpoint" href="https://tokens.indieauth.com/token" />
<link rel="micropub" href="https://mcmanus.io/.netlify/functions/micropub">

