---
layout: default
---
<article class="h-entry h-review {%if page.image%}{%endif%}" role="article">
  <header class="mb:mx-w-full sm:mb-12 flex flex-col items-center sm:flex-row sm:items-end">
    {% include img.html class="u-photo md:flex-row-reverse sm:mr-8 md:flex-no-shrink md:mr-0 md:ml-8 sm:mb-0 md:order-last" imgClass="max-h-20 sm:max-h-full md:max-h-30 shadow-lg" src=page.image alt=page.title %}

    <div class="flex-1 w-full mb-8 md:mb-0 md:w-1/2">
      <h1 class="p-name mt-6 mb-1">
        {{ page.book_title | titlecase }}
      </h1>

      <p class="mb-1">
        By {{ page.book_author | titlecase }}
        <small class="Post-year">{{ page.book_published }}</small>
      </p>

      <p class="mb-2">
        <data class="p-rating text-yellow text-lg" value={{page.rating}}>{% for num in (1..page.rating) %}★{% endfor %}</data>
      </p>

      <p class="mb-0">
        <time class="uppercase text-grey-dark text-sm dt-published" datetime="{{ page.date }}">{{ page.date | date_to_string }}</time>
      </p>
    </div>
  </header>

  <div class="entry-content e-content p-review">{{ content }}</div>

  {% include byline.html %}
</article>
<hr>

<h4 class="row">Latest from the books shelf <small><a href="/category/review" >See all of them</a></small></h4>
{% assign reviews = site.posts | where_exp:"item", "item.categories contains 'review'"%}
{% include book-list.html reviews=reviews limit=5 %}
