---
layout: default
---
<article class="Post--review h-entry h-review {%if page.cover%}withCover{%endif%}" role="article">
  <header class="Post-header p-item h-product">
    {% include img.html class="Post-cover u-photo" src=page.image alt=page.title %}
    <div class="Post-reviewHeader">
      <h1 class="Post-title p-name">
        {{ page.book_title | titlecase }}
      </h1>

      <p class="Post-byline attention-grabber">
        By {{ page.book_author | titlecase }}
        <small class="Post-year">{{ page.book_published }}</small>
      </p>

      <p class="Post-rating">
        <data class="p-rating" value={{page.rating}}>{% for num in (1..page.rating) %}★{% endfor %}</data>
      </p>

      <p class="Post-meta">
        <time class="dt-published uppercase" datetime="{{ page.date }}">{{ page.date | date_to_long_string }}</time>
      </p>
    </div>
  </header>

  <div class="entry-content e-content p-review">{{ content }}</div>

  <p class="alignCenter"><a class="u-url pill" href={{page.url}}>Permanent Link</a></p>
</article>
<hr>

<div class="row">
  <h4>Latest from the books shelf <small><a href="/category/review" >See all of them</a></small></h4>
  {% assign reviews = site.posts | where_exp:"item", "item.categories contains 'review'"%}
  {% include book-list.html reviews=reviews limit=5 %}
</div>
