{% include head.html %}

  <!-- header -->
  <header id="header" class="accelerated" role="banner" style="">
    <div class="background-image"></div>
    <div class="background-image-foreground">
    <div class="row">
      <hgroup class="small-6 columns">
        <h1><a href="{{ root_url }}/">
          <small>Hey friend, my name is</small>
          Matt McManus
        </a></h1>
      </hgroup>
      {% include navigation.html %}
    </div>

    </div>
  </header>
  <!-- main -->
  <div id="main" class="row">
    {{ content }}
  </div>

{% include footer.html %}
