---
layout: default
single: true
type: post
---
<!-- {% if page.cover %}
  <style>
    .background-image { background-image:url({{page.cover}}) }
    {% if page.coverHeight %}
      .background-image { height: {{page.coverHeight | plus: 30 }}px }
      .background-image-foreground { height: {{page.coverHeight}}px }
    {% endif %}
  </style>
{% endif %} -->

<article class="hentry {%if page.cover%}withCover{%endif%}" role="article">

  <header>
    <h1>{{ page.title | titlecase }}</h1>
    {% if page.subtitle %}
      <p class="attention-grabber">{% if site.titlecase %}{{ page.subtitle | titlecase }}{% else %}{{ page.subtitle }}{% endif %}</p>
    {% endif %}

    <p>
    <small class="meta">
      <time class="uppercase" datetime="{{ page.date }}">{{ page.date | date_to_long_string }}</time>
    </small>
    </p>

    {%- if page.categories -%}
      <p class="alignCenter">
        {% for category in page.categories %}
          {% assign details = site.category_details | where:"slug", category | first %}
            <a href={{category | prepend:'/category/'}} class="category">{{details.title}}</a>
        {% endfor %}
      </p>
    {%- endif -%}
  </header>
  <hr>

  <div class="entry-content e-content">{{ content }}</div>
</article>
