---
layout: default
single: true
type: post
---
<!-- {% if page.cover %}
  <style>
    .background-image { background-image:url({{page.cover}}) }
    {% if page.coverHeight %}
      .background-image { height: {{page.coverHeight | plus: 30 }}px }
      .background-image-foreground { height: {{page.coverHeight}}px }
    {% endif %}
  </style>
{% endif %} -->

<article class="hentry {%if page.cover%}withCover{%endif%}" role="article">

  <header>
    <h1>{{ page.title | titlecase }}</h1>
    {% if page.subtitle %}
      <h2 class="subheader">{% if site.titlecase %}{{ page.subtitle | titlecase }}{% else %}{{ page.subtitle }}{% endif %}</h2>
    {% endif %}

    <p>
    <small class="meta">
      <time class="uppercase" datetime="{{ page.date }}">{{ page.date | date_to_long_string }}</time>
    </small>
    </p>
  </header>
  <hr>

  <div class="entry-content e-content">{{ content }}</div>
</article>
