---
layout: default
---
{%- if page.image -%}
  {% include img.html class="Post-hero" src=page.image alt=page.title %}
{%- endif -%}

<article class="Post h-entry {%if page.cover%}withCover{%endif%}" role="article">

  <header>
    <small class="Post-meta">
      <time class="uppercase dt-published" datetime="{{ page.date }}">{{ page.date | date_to_string }}</time>
    </small>

    <h1 class="p-name">{{ page.title | titlecase | smartify }}</h1>

    {% if page.subtitle %}
      <p class="attention-grabber">{% if site.titlecase %}{{ page.subtitle | titlecase }}{% else %}{{ page.subtitle }}{% endif %}</p>
    {% endif %}

  </header>
  <hr>

  <div class="entry-content e-content">{{ content }}</div>

  {% include byline.html %}
</article>

<div class="row">
  <h3>Related Posts</h3>
  <ul class="post-list">
    {% assign posts = site.posts | where_exp:"item", "item.categories contains page.categories[0]" %}
    {% for post in posts limit:3 %}
    <li>
      {% include {{post.layout | prepend:'list-item-' | append:'.html'}} post=post %}
    </li>
    {% endfor %}
  </ul>
</div>
